<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="myMenu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-2">
                <p><img th:src="@{img/phone-call.png}" alt="phone"/> 58 577 625 825</p>
            </div>
            <div class="col-12 col-md-2">
                <p><img th:src="@{img/email.png}" alt="email"/> zoologiczny@gmail.com</p>
            </div>
            <div class="col-12 col-md-8 text-right">

            </div>
        </div>
    </div>
<!--    <header>-->
<!--        <nav class="navbar navbar-dark bg-head navbar-expand-lg">-->
<!--            <a class="navbar-brand" href="/"><img th:src="@{img/fox_logo.png}" width="50" height="50" alt="logo"/> Zoologiczny.pl</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="mainmenu">-->
<!--                <ul class="navbar-nav mr-auto">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#"> Start </a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Kategorie </a>-->
<!--                        <div class="dropdown-menu" aria-labelledby="submenu">-->
<!--                            <div class="dropdown-header">Dla psa</div>-->
<!--                            <a class="dropdown-item" href="/wlasne">Karma</a>-->
<!--                            <a class="dropdown-item" href="#">Zabawki</a>-->
<!--                            <a class="dropdown-item" href="#">Akcesoria</a>-->
<!--                            <div class="dropdown-header">Dla kota</div>-->
<!--                            <a class="dropdown-item" href="#">Karma</a>-->
<!--                            <a class="dropdown-item" href="#">Zabawki</a>-->
<!--                            <a class="dropdown-item" href="#">Akcesoria</a>-->
<!--                            <div class="dropdown-header">Dla ryb</div>-->
<!--                            <a class="dropdown-item" href="#">Karma</a>-->
<!--                            <a class="dropdown-item" href="#">Zabawki</a>-->
<!--                            <a class="dropdown-item" href="#">Akcesoria</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/listUsers">Kontakt</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/new">Schronisko</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--                <form class="form-inline">-->
<!--                    <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">-->
<!--                    <button class="btn btn-light" type="submit">Znajdź</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </header>-->
    <nav class="navbar navbar-expand-md navbar-dark bg-head">
        <a class="navbar-brand" href="/"><img th:src="@{img/fox_logo.png}" width="50" height="50" alt="logo"/> Zoologiczny.pl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline">
                <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                <button class="btn btn-light" type="submit">Znajdź</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/schronisko}">Schronisko</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Kategorie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-header">Dla psa</div>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=pies-karma'}">Karma</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=pies-zabawki'}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=pies-akcesoria'}">Akcesoria</a>
                        <div class="dropdown-header">Dla kota</div>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=kot-karma'}">Karma</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=kot-zabawki'}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=kot-akcesoria'}">Akcesoria</a>
                        <div class="dropdown-header">Dla ryb</div>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=ryby-karma'}">Karma</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=ryby-zabawki'}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{'/show_products?kategoria=ryby-akcesoria'}">Akcesoria</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Kontakt</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Konto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/listUsers}" sec:authorize="hasAnyAuthority('ADMIN')">Administracja</a>
                        <div class="dropdown-divider" sec:authorize="hasAnyAuthority('ADMIN')"></div>

                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/login}">Zaloguj</a>
                        <div class="dropdown-divider" sec:authorize="!isAuthenticated()"></div>

                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/register}">Zajerestruj</a>

                        <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/}">Koszyk</a>
                        <div class="dropdown-divider" sec:authorize="isAuthenticated()"></div>
                        <form class="dropdown-item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                            <input type="submit" value="Wyloguj"/>
                        </form>
<!--                        <a class="dropdown-item" id="Logout" th:href="@{/logout}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Wyloguj</a>-->
                    </div>
                </li>
                <li>
                    <div class="test"></div>
                </li>
            </ul>

        </div>
    </nav>
</div>

</body>
</html>