<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="myMenu">

        <div class="row no-gutters" style="color: #FFFFFF;">
            <div class="col-12 col-md-2">
                <p><img th:src="@{/img/phone-call.png}" alt="phone"/> 58 577 625 825</p>
            </div>
            <div class="col-12 col-md-2">
                <p><img th:src="@{/img/email.png}" alt="email"/> zoologiczny@gmail.com</p>
            </div>
        </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-head">
        <a class="navbar-brand" th:href="@{/app/}"><img th:src="@{/img/fox_logo.png}" width="50" height="50" alt="logo"/> Zoologiczny.pl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/app/}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Popularne kategorie
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Dla psa</div>
                        <a class="dropdown-item" th:href="@{/product/category/1/subcategory/1}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{/product/category/2/subcategory/1}">Karma</a>
                        <a class="dropdown-item" th:href="@{/product/category/3/subcategory/1}">Akcesoria</a>
                        <div class="dropdown-header">Dla kota</div>
                        <a class="dropdown-item" th:href="@{/product/category/1/subcategory/2}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{/product/category/2/subcategory/2}">Karma</a>
                        <a class="dropdown-item" th:href="@{/product/category/3/subcategory/2}">Akcesoria</a>
                        <div class="dropdown-header">Dla ryb</div>
                        <a class="dropdown-item" th:href="@{/product/category/1/subcategory/3}">Zabawki</a>
                        <a class="dropdown-item" th:href="@{/product/category/2/subcategory/3}">Karma</a>
                        <a class="dropdown-item" th:href="@{/product/category/3/subcategory/3}">Akcesoria</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Konto
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/app/profile}">Konto</a>
                        <div class="dropdown-divider" sec:authorize="isAuthenticated()"></div>
                        <a class="dropdown-item" th:href="@{/admin/listUsers}" sec:authorize="hasAnyAuthority('ADMIN')">Administracja</a>
                        <div class="dropdown-divider" sec:authorize="hasAnyAuthority('ADMIN')"></div>

                        <a class="dropdown-item" th:href="@{/admin/showOrders}" sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">Zamówienia</a>
                        <div class="dropdown-divider" sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')"></div>

                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/app/login}">Zaloguj</a>
                        <div class="dropdown-divider" sec:authorize="!isAuthenticated()"></div>

                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/app/register}">Zajerestruj</a>

                        <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/cart/showCart}">Koszyk</a>
                        <div class="dropdown-divider" sec:authorize="isAuthenticated()"></div>
                        <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/app/orders}">Moje zamówienia</a>
                        <div class="dropdown-divider" sec:authorize="isAuthenticated()"></div>
                        <form class="dropdown-item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                            <input type="submit" value="Wyloguj"/>
                        </form>
<!--                        <a class="dropdown-item" id="Logout" th:href="@{/logout}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Wyloguj</a>-->
                    </div>
                </li>
                <li>
                    <div class="test"></div>
                </li>
            </ul>

        </div>
    </nav>
</div>

</body>
</html>