<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="mySideMenu">
    <div class="sidebar-header">
        <img th:src="@{/img/fox_logo.png}" style="transform: scaleX(-1)" width="175" height="125" alt="logo"/>
    </div>

    <ul class="list-unstyled components">
        <p>Menu podręczne</p>
        <li class="active" sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Zarządzanie</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
                    <a th:href="@{/product/listProducts}">Edytuj produkty</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
                    <a th:href="@{/product/new}">Dodaj produkty</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
                    <a th:href="@{/product/newCategory}">Dodaj kategorie</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/admin/new}">Dodaj użytowników</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{/admin/listUsers}">Edytuj użytowników</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Filtry</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <form th:action="@{/product/startSideMenuFiltering}" method="POST">
                    <li>
                        <div class="form-group">
                            <input type="text" class="form-control" name="filterWord" placeholder="Czego szukasz?">
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="price-from">Cena od</label>
                            <input type="number" step="0.01" class="form-control" id="price-from" name="filterPriceFrom" min="0" value="0">
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="price-to">Cena do</label>
                            <input type="number" step="0.01" class="form-control" id="price-to" name="filterPriceTo" min="0">
                        </div>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-secondary">Szukaj</button>
                    </li>
                </form>
                <li>
                    <a th:href="@{/product/filtering}">Więcej filtrów</a>
                </li>
            </ul>
        </li>
        <li>
            <a th:href="@{/product/page/1}">Page 1</a>
        </li>
        <li>
            <a th:href="@{/app/contact}">Kontakt</a>
        </li>
        <li>
            <a th:href="@{/app/partners}">Nasi partnerzy</a>
        </li>
    </ul>
</div>
</body>
</html>