<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/sidebar_script.js}"></script>
</head>
<body>
<div th:insert="/fragments/animated :: myAnimated"></div>
<header>
    <div th:insert="/fragments/menu :: myMenu"></div>
</header>
<div class="wrapper">
    <nav id="sidebar">
        <div th:insert="/fragments/side_menu :: mySideMenu"></div>
    </nav>

    <div id="content">
        <div th:insert="/fragments/side_menu_collapse :: mySideMenuCollapse"></div>
        <div id="content-main">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Kategoria</th>
                        <th>Podkategoria</th>
                        <th sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr th:each="product : ${listProducts}">
    <!--                        <td th:text="${product.id}">ID produktu</td>-->
                            <td><img alt="obrazek" th:src="@{'/product/display/' + ${product.id}}" style="width: 100px; height: 100px;"></td>
                            <td th:text="${product.name}">Nazwa</td>
                            <td th:text="${product.description}">Opis</td>
                            <td th:text="${product.quantity}">Ilość</td>
                            <td th:text="${product.price}">Cena</td>
                            <td th:text="${product.category.getName()}">Kategoria</td>
                            <td th:text="${product.subcategory.getName()}">Podkategoria</td>
                            <td sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
                                <a sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" th:href="@{'/product/editProduct/' + ${product.id}}">Edit</a>
                                &nbsp;&nbsp;&nbsp;
                                <a sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" th:href="@{'/product/deleteProduct/' + ${product.id}}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>