<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="/zoologiczny/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
    <script src="/zoologiczny/webjars/jquery/jquery.min.js"></script>
    <script src="/zoologiczny/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script th:src="@{/js/sidebar_script.js}"></script>
</head>
<body>
<div th:insert="/fragments/animated :: myAnimated"></div>
<header>
    <div th:insert="/fragments/menu :: myMenu"></div>
</header>
<div class="wrapper">
    <nav id="sidebar">
        <div th:insert="/fragments/side_menu :: mySideMenu"></div>
    </nav>

    <div id="content">
        <div th:insert="/fragments/side_menu_collapse :: mySideMenuCollapse"></div>
        <div id="content-main">
            <div class="container">
                <h3 th:text="${status + ' ' + error}"></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>