<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Szczegóły zamówienia</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/sidebar_script.js}"></script>
</head>
<body>
<div th:insert="/fragments/animated :: myAnimated"></div>
<header>
    <div th:insert="/fragments/menu :: myMenu"></div>
</header>
<div class="wrapper">
    <nav id="sidebar">
        <div th:insert="/fragments/side_menu :: mySideMenu"></div>
    </nav>

    <div id="content">
        <div th:insert="/fragments/side_menu_collapse :: mySideMenuCollapse"></div>
        <div id="content-main">
            <div class="container">

                <span th:object="${order}">
                <form th:action="@{/cart/orderProducts}"  method="POST">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2>Dostawa i płatność</h2>
                            <div>
                                <h4>Sposób dostawy</h4>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="delivery" th:field="*{delivery}" value="kurier" required>Kurier - InPost, UPS, FedEx, DTS lub Poczta Polska
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="delivery" th:field="*{delivery}" value="osobiście" required>Odbiór osobisty
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="delivery" th:field="*{delivery}" value="paczkomat" required>Paczkomaty 24/7
                                    </label>
                                </div>
                            </div>
                            <div>
                                <h4>Metoda płatności</h4>
                                    <div class="form-check">
                                    <label class="form-check-label active">
                                    <input type="radio" class="form-check-input" name="payment"  th:field="*{payment}" value="blik" required>BLIK
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="payment" th:field="*{payment}" value="przelew" required>Przelew gotówkowy
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="payment" th:field="*{payment}" value="przy odbiorze" required>Przy odbiorze
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="payment" th:field="*{payment}" value="karta płatnicza" required>Karta płatnicza online
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="payment" th:field="*{payment}" value="dotpay" required>Szybki przelew DotPay
                                    </label>
                                </div>
                            </div>
                            <div>
                                <h4>Dane odbiorcy</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="address" placeholder="Ulica i numer" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="code" placeholder="Kod pocztowy" value="__-___" data-mask="__-___" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" placeholder="Miejscowość" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" th:field="*{phone}" placeholder="Telefon" value="+__ ___ ___ ___" data-mask="+__ ___ ___ ___" required>
                                </div>
                            </div>
                            <div>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="invoice" class="form-check-input" value="">Chcę otrzymać fakturę
                                </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="checkbox" id="checkbox" value="scheckbox" />Chcę dodać komentarz do zamówienia
                                    </label>
                                </div>
                                <div class="form-group" id="otherFieldDiv">
                                    <input id="comment" class="form-control" name="comment" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <span class="h3">Podsumowanie:</span>
                            </div>
                            <div class="mt-2">
                                <span class="h2" id="totalPrice">[[${totalPrice}]]</span>
                                <input type="hidden" name="totalPrice" th:value="${totalPrice}">
                            </div>
                            <div>
                                <span>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="regulations" type="checkbox" class="form-check-input" required>
                                            Akceptuje <a href="#regulationsModal" class="regulations" data-toggle="modal" data-target="#regulationsModal">regulamin</a>
                                        </label>
                                    </div>
                                </span>
                            </div>
                            <div class="mt-2">
                                <a href="#"><button class="btn btn-danger p-3 mt-2">Płacę</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </span>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/standard_modal :: standardModal"></div>
<div th:replace="/fragments/regulations_modal :: regulationsModal"></div>
<script type="text/javascript">
    $(function () {
        $('input[name="comment"]').hide();

        //show it when the checkbox is clicked
        $('input[name="checkbox"]').on('click', function () {
            if ($(this).prop('checked')) {
                $('input[name="comment"]').fadeIn();
            } else {
                $('input[name="comment"]').hide();
            }
        });
    });

    Array.prototype.forEach.call(document.body.querySelectorAll("*[data-mask]"), applyDataMask);

    function applyDataMask(field) {
        var mask = field.dataset.mask.split('');

        // For now, this just strips everything that's not a number
        function stripMask(maskedData) {
            function isDigit(char) {
                return /\d/.test(char);
            }
            return maskedData.split('').filter(isDigit);
        }

        // Replace `_` characters with characters from `data`
        function applyMask(data) {
            return mask.map(function(char) {
                if (char != '_') return char;
                if (data.length == 0) return char;
                return data.shift();
            }).join('')
        }

        function reapplyMask(data) {
            return applyMask(stripMask(data));
        }

        function changed() {
            var oldStart = field.selectionStart;
            var oldEnd = field.selectionEnd;

            field.value = reapplyMask(field.value);

            field.selectionStart = oldStart;
            field.selectionEnd = oldEnd;
        }

        field.addEventListener('click', changed)
        field.addEventListener('keyup', changed)
    }
</script>
</body>
</html>