<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Users List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="/fragments/menu :: myMenu"></div>
<div class="container text-center">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>User ID</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.first_name}">First name</td>
                <td th:text="${user.last_name}">Last name</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.password}">Password</td>
                <td>
                    <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
